{% extends "layouts/storylayout.njk"%}

{% block content %}
    <h1>{{ title }}</h1>
    <p>{{ text }}</p>

    <ul>
        {% for choice in choices %}
            <li><a href="/story/{{choice.target_id}}">{{choice.description}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
