{% extends "layouts/storylayout.njk"%}

{% block content %}
    <div class="page">
        <h1>{{ title }}</h1>
        <img src="/images/{{image}}" alt="image goes here">
        {% for paragraph in text %}
            <p>{{ paragraph }}</p>
        {% endfor %}
    </div>
    
    <ul class="choices">
        {% for choice in choices %}
            <li><a href="/story/{{choice.target_id}}">{{choice.description}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
